@model IEnumerable<EmployeeManagementSystemUI.Models.EmployeeMaster>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpMiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentMaster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesignationMaster)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpMiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                    @(item.EmpStatus ? "Active" : "Inactive")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentMaster.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesignationMaster.DesignationName)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.EmpId">Edit</a> |
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.EmpId">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.EmpId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@* <table id="jqtblEmployee" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Birth Date</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Salary</th>
            <th>Status</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#jqtblEmployee').DataTable({
                "ajax": {
                    "url": "/Employee/GetEmployees",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "empFirstName" },
                    { "data": "empLastName" },
                    { "data": "emailId" },
                    { "data": "birthDate" },
                    { "data": "empGender" },
                    { "data": "empPhoneNumber" },
                    { "data": "salary" },
                    { "data": "empStatus" },
                    { "data": "department" },
                    {
                        "data": "empId",
                        "render": function (data, type, row) {
                            return `
                                <a href="/Employee/Edit/${data}" class="btn btn-primary btn-sm">Edit</a>
                                <a href="/Employee/Details/${data}" class="btn btn-info btn-sm">Details</a>
                                <a href="/Employee/Delete/${data}" class="btn btn-danger btn-sm">Delete</a>
                            `;
                        },
                        // "orderable": false,
                        // "searchable": false,

                        "paging": true,
                        "lengthChange": false,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false,
                        "responsive": true,
                    }
                ]
            });
        });
    </script>
} *@
