@model IEnumerable<EmployeeManagementSystemUI.Models.DesignationMaster>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Designations </h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DesignationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DesignationName)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.DesignationId">Edit</a> |
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.DesignationId">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.DesignationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
